/* reset css */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #123456;
  color: black;
  font-size: 100%; /* 16px (12pt) default | 1em is 100% font size */
  font-family: "Lexend Deca", sans-serif;
}

h1{
  font-size: 4em; 
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

  text-align: center;
}

h2{
  font-size: 2.125em; /* 34px (you can still tinker with the size. don't feel restricted) */
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
}

h3{
  font-size: 2em; /* 32px */
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
}

p{
  line-height: 1.2;
  padding-bottom: 8px;
}

img{
  width: 100%;
  height: auto;
}

header{
  flex: 1 1 100%;
  height: auto;
  border-radius: 20px;
}

.header2{
  flex: 1 1 100%;
  height: auto;
  border-radius: 20px;
}

header img{
  border-radius: 20px;
}

/* nav and footer */
  .nav_container{
    background-color: #fff;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
  }

  .footer_container{
    background-color: #fff;
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
  }

/* index */
  .hero_container{
    background-color: #fff;
    background-image: url("../p2_images/LMhero.jpg");
    width: 1280px;
    height: 700px;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
  }

  .hero_container h1{
    text-align: center;
  }

  .index_container{
    background-color: #fff;
    max-width: 1280px;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
  }

  /* about */
  .about_container{
    background-color: #fff;
    max-width: 1280px;
    height: auto;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
  }

  .about_img{
    background-color: #fff;
    max-height: 500px;
    max-width: 500px;
    border-radius: 20px;

    margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex: 1 0 500px;
    float: left;
  }

  .about_text{
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;

    float:none;

    /* flex: 1 1 600px; */
  }

  .about_text p{
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 40px;
  }

/* portfolio */
  .portfolio_container{
    background-color: #fff;
    width: 1280px;
    height: auto;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 40px;

  }

  .portfolio_img{
    background-color: #fff;
    max-height: 500px;
    max-width: 500px;
    border-radius: 20px;

    margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex: 1 0 500px;
    float: left;
  }

  .portfolio_text{
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;

    float:none;
  }

  .portfolio_text p{
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 40px;
  }


/* other stuff */
nav{
  background-color: #131313;
  flex: 1 0 100%;
}

nav ul{
  list-style-type: none;
  display: flex;
  padding: 10px;
  justify-content: center;
}

nav a:link{
  background-color: rgb(42, 42, 45);
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
}

nav a:link, nav a:visited{
  background-color: rgb(42, 42, 45);
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
}

nav a:hover, nav a:active{
  background-color: rgb(65, 65, 92);
}

main{
  background-color: rgb(136, 224, 224);
  flex: 1 1 70%; 
  padding: 5px 10px;
  border-radius: 20px;
}

/* main h1{
  padding-left: 20px;
} */

/* aside{
  background-color: #ffaa00;
  flex: 1 1 30%;
  padding: 5px 10px;
} */

footer{
  background-color: #131313;
  flex: 1 0 100%;
  padding: 10px;
}

footer p{
  color:aliceblue
}


/* links (must be written in this order) */
/* a:link{
  color: #ff0000;
  text-decoration:wavy;
} */
a:visited{
  color: rgb(187, 39, 39);
  text-decoration: line-through;
}
a:hover{ /* for desktop interaction */
  color: orange;
}
a:active{ /* for mobile interaction */
  color: orange;
}

/* media queries for tablet screen 800px or smaller */
@media screen and (max-width: 800px) {

  /* body{
    background-color: #131313;
  } */

  header{
    height: 100px;
  }

  nav a:link, nav a:visited{
    padding: 10px 20px;
    margin-right: 20px;
  }

  main{
  flex: 1 1 60%; 
}

aside{
  flex: 1 1 40%;
}
}

/* media queries for moblie screens 600px or smaller */
@media screen and (max-width: 800px) {

  body{
  background-color: yellow;
  }

  h1{
    text-align: left;
  }
 
  header{
    height: 50px;
    height: auto;
  }

  nav ul{
  flex-direction: column;
  align-items: center;
  }

  nav a:link, nav a:visited{
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  main, sidebar{
    padding: 20px;
  }

  footer{
    text-align: center;
  }
}
